:root {
  --background-color: #252525;
  --lighter-background-color: #414041;
  --main-text-color: #4EF3D2;
  --highlight-text-color: #FFE373;
}

html {
	background-color: var(--background-color);
	height: 100%;
}

body {
	color: white;
	font-family: "Poppins", "Tahoma", sans-serif;
	font-weight: 400;
	position: relative;
	min-height: 100%;
	padding: 0 0 130px;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

p, input, label {
	font-size: 1em;
}

.main-content {
	width: 90%;
	margin: auto;
}

.nav-bar {
	display: block;
	padding-bottom: 40px;
	padding-top: 30px;
}

.nav-link {
	display: inline;
	margin: 25px;
}

a {
	color: var(--main-text-color);
	text-decoration: none;
}

a:visited {
	color: var(--main-text-color);
	text-decoration: none;
}

a:hover {
	color: var(--highlight-text-color);
	text-decoration: none;
}

.button, a.button {
	padding: 5px;
	font-family: "Poppins", "Tahoma", sans-serif;
	background-color: var(--main-text-color);
	color: var(--background-color);
	width: fit-content;
	margin: auto;
}

.important-button {
	background-color: #da4c48;
	color: white;
	margin: 10px;
	margin-top: 25px;
}

.button:hover {
	background-color: var(--highlight-text-color);
	cursor: pointer;
}

.important-button:hover {
	background-color: #da7069;
}

.submit-button {
	width: 100%;
	margin: auto;
}

.card {
	padding: 10px;
	height: fit-content;
	width: fit-content;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.small-album-card {
	width: 300px;
	height: 350px;
	margin: 20px;
}

.small-artist-card{
	width: 320px;
	height: 320px;
	margin: 20px;
}

.card-content {
	text-align: center;
	height: fit-content;
}

.border {
	border: 1px solid var(--main-text-color);
	border-radius: 2px;
}

.small-img {
	width: 200px;
	height: 200px;
}

.large-img {
	width: 300px;
	height: 300px;
}

.left-div {
	float: left;
	padding: 10px;
}

.right-div {
	float: right;
	padding: 10px;
}

.inline-block {
	display: inline-block;
	margin: 10px;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.center-text {
	text-align: center;
}

table {
	width: fit-content;
	margin: auto;
}

form {
	margin: auto;
	margin-top: 30px;
	width: fit-content;
}

.form-field {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	align-items: center;
}

.form-instructions {
	font-style: italic;
}

#discover-form {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.discover-form-field {
	padding: 0;
	width: fit-content;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
}

.form-fields-container {
	width: fit-content;
	margin: auto;
}

.form-field label {
	width: 90%;
	text-align: right;
}

.form-field input, .form-field select {	
	width: 80%;
}

.align-top {
	vertical-align: text-top;
}

.checkbox-group {
	width: fit-content;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1100px;
	margin: auto;
}

.small-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 700px;
	margin: auto;
}

h3{
	width: 100%;
}

.checkbox-pair {
	width: fit-content;
}

.section {
	margin: auto;
	margin-top: 30px;
}

#results {
	text-align: center;
	width: fit-content;
}

.content-card {
	width: fit-content;
	max-width: 800px;
	margin: auto;
}

.address-content {
	margin: 25px;
}

.sub-section {
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.gray-background{
	background-color: var(--lighter-background-color);
}

.no-link-styling {
	color: white;
}

.no-link-styling:hover {
	color: white;
}

.yellow {
	color: var(--highlight-text-color);
}

footer {
	background-color: var(--lighter-background-color);
	padding: 35px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
}