
/********* GENERAL *********/

:root {
  --background-color: #252525;
  --lighter-background-color: #414041;
  --card-highlight-color: #706f71;
  --main-text-color: #4EF3D2;
  --highlight-text-color: #FFE373;
}

html {
	background-color: var(--background-color);
	height: 100%;
}

body {
	color: white;
	font-family: "Poppins", "Tahoma", sans-serif;
	font-weight: 400;
	position: relative;
	min-height: 90%;
	padding: 0 0 150px;
	margin: 0;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

p, .p, input, label {
	font-size: 1.1em;
}


/********* NAV-BAR *********/

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 2px solid var(--lighter-background-color);
}

.nav-links li:hover {
	background-color: var(--lighter-background-color);
	color: var(--highlight-text-color);
}

.nav-links ul {
	margin: 0;
	padding-right: 2em;
	display: flex;
}

.nav-links li {
	list-style: none;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
}

.nav-links li h2 {
	padding: 0;
	margin: 0;
}

.nav-links li h2 a {
	display: block;
	padding: 1em;
	height: 100%;
}

#logo {
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.toggle-button {
	position: absolute;
	top: .75em;
	right: 1em;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 35px;
	padding: 1em;
	padding-top: 2em;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: var(--main-text-color);
	border-radius: 10px;
}

@media (max-width: 1024px){
	.toggle-button {
		display: flex;
	}
	
	.nav-links {
		width: 100%;
		display: none;
	}
	
	.nav-links li {
		text-align: center;
	}
	
	.nav-links li h2 a {
		padding: .3em;
		margin: 0;
	}
	
	.nav-links ul {
		flex-direction: column;	
		width: 100%;
	}
	
	.nav-bar{
		flex-direction: column;
		align-items: flex-start;
	}
	
	.nav-links.active {
		display: flex;
	}
}



/********* LINKS *********/

a {
	color: var(--main-text-color);
	text-decoration: none;
}

a:visited {
	color: var(--main-text-color);
	text-decoration: none;
}

a:hover {
	color: var(--highlight-text-color);
	text-decoration: none;
}

.button, a.button {
	padding: 5px;
	font-family: "Poppins", "Tahoma", sans-serif;
	background-color: var(--main-text-color);
	color: var(--background-color);
	width: fit-content;
	margin: auto;
}


/********* BUTTONS *********/

.important-button {
	background-color: #da4c48;
	color: white;
	margin: 10px;
	margin-top: 25px;
}

.button:hover {
	background-color: var(--highlight-text-color);
	cursor: pointer;
}

.important-button:hover {
	background-color: #da7069;
}

.submit-button {
	width: 100%;
	margin: auto;
}


/********* CARDS *********/

.card {
	padding: 10px;
	height: fit-content;
	width: fit-content;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}


.small-album-card {
	height: 380px;
}

.small-artist-card {
	height: 320px;
}

.small-album-card, .small-artist-card {
	width: 320px;
	margin: 20px;
	box-sizing: border-box;
}


.small-album-card:hover, .small-artist-card:hover {
	background-color: var(--card-highlight-color);
}

.card-content {
	text-align: center;
	height: fit-content;
}

.section {
	margin: auto;
	margin-top: 30px;
}

.sub-section {
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.content-card {
	width: fit-content;
	max-width: 800px;
	margin: auto;
}

.grid-container, .small-grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	/*display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));*/
}

.grid-container {
	max-width: 1100px;
	margin: auto;
}

.small-grid-container {
	max-width: 800px;
	margin: auto;
}


/********* IMAGES *********/

.small-img {
	width: 200px;
	height: 200px;
}

.large-img {
	width: 300px;
	height: 300px;
	margin: auto;
}


/********* FORMS *********/

form {
	margin: auto;
	margin-top: 30px;
	width: fit-content;
}

.form-field {
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	align-items: center;
}

.form-instructions {
	font-style: italic;
}

table {
	width: fit-content;
	margin: auto;
}

#discover-form {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.discover-form-field {
	padding: 0;
	width: fit-content;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 25px;
}

#results {
	text-align: center;
	width: fit-content;
}

.form-fields-container {
	width: fit-content;
	margin: auto;
}

.form-field label {
	width: 90%;
	text-align: right;
}

.form-field input, .form-field select {	
	width: 80%;
}

.checkbox-group {
	width: fit-content;
}

.checkbox-pair {
	width: fit-content;
}


/********* FOOTER *********/

footer {
	background-color: var(--lighter-background-color);
	padding: 35px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 95%;
	margin: auto;
}

.address{
	height: 100%;
}

.address-content {
	margin: 20px;
	min-width: 250px;
}


/********* SPECIFIC STYLES *********/

.inline-block {
	display: inline-block;
	margin: 10px;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.center-text {
	text-align: center;
}

.align-top {
	vertical-align: text-top;
}

.border {
	border: 1px solid var(--main-text-color);
	border-radius: 2px;
}

.gray-background{
	background-color: var(--lighter-background-color);
}

.no-link-styling {
	color: white;
}

.no-link-styling:hover {
	color: white;
}

.margin-left {
	margin-left: 10px;
}

.padding {
	padding: 20px;
}

.yellow {
	color: var(--highlight-text-color);
}